.back,
.save {
    height: 20px;
    line-height: 20px;
    margin: 5px 0 0 5px;
    width: 47px;
    border-right: var(--border);
    cursor: pointer;
    float: left;
}

.back:active,
.save:active {
    font-weight: bold;
}

.list {
    width: calc(100% - 105px);
    height: 20px;
    float: left;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
    position: relative;
    outline: none;
}

.list > .extra {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.list > .ul {
    display: none;
    width: calc(100% + 3px);
    background: var(--background);
    position: absolute;
    border: var(--border);
    border-bottom: unset;
    top: 20px;
    left: -1px;
    z-index: 2;
    font-size: 11px;
}

.list:focus > .extra {
    font-weight: bold;
}

.list:focus > .ul {
    display: unset;
}

.list > .ul > .li {
    cursor: pointer;
    height: 23px;
    line-height: 23px;
    border-bottom: var(--border);
}

.list > .ul > .li:active {
    font-weight: bold;
}


.list > .ul > .li > .icon {
    margin-right: 2px;
}