#category {
    width: 150px;
    height: calc(100% - 20px);
    background: var(--background2);
    float: left;
    border-right: var(--border);
}

#operation {
    width: calc(100% - 150px);
    height: 40px;
    line-height: 40px;
    float: left;
    padding-left: 10px;
    border-bottom: var(--border);
}

.content {
    width: calc(100% - 150px);
    height: calc(100% - 20px);
    float: left;
}


#basic {
    overflow: hidden;
}

table {
    border: var(--color6);
    width: 98%;
    margin: 20px auto 0 auto;
}

table tr {
    height: 30px;
}

table tr > td{
    padding: 0 5px;
}