#back {
    border-bottom: var(--border);
    border-right: var(--border);
    width: 150px;
    height: 30px;
    float: left;
}

#menu {
    float: left;
    border-bottom: var(--border);
    width: calc(100% - 350px);
    height: 30px;
    line-height: 30px;
}

#operation {
    font-size: 18px;
    float: left;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-left: var(--border);
    border-bottom: var(--border);
    padding-left: 5px;
}

#canvas {
    float: left;
    width: calc(100% - 200px);
    height: calc(100% - 30px - 20px);
    position: relative;
    overflow: hidden;
}

#edit {
    float: right;
    width: 200px;
    height: calc(100% - 30px - 20px);
    border-left: var(--border);
}