<div class="wrap">
    <div class="item">
        <div class="content activee">
        </div>
    </div>
    <div class="item">
        <div class="content">
        </div>
    </div>
    <div class="item">
        <div class="content">
        </div>
    </div>
    <div class="item">
        <div class="content">
        </div>
    </div>
    <div class="item">
        <div class="content">
        </div>
    </div>
    <div class="item">
        <div class="content">
        </div>
    </div>
    <div class="item">
        <div class="content">
        </div>
    </div>
    <div class="item">
        <div class="content">
        </div>
    </div>
    <div class="item">
        <div class="content activee">
        </div>
    </div>
    <div class="item">
        <div class="content">
        </div>
    </div>
    <div class="item">
        <div class="content">
        </div>
    </div>
    <div class="item">
        <div class="content">
        </div>
    </div>
    <div class="item">
        <div class="content">
        </div>
    </div>
    <div class="item">
        <div class="content">
        </div>
    </div>
    <div class="item">
        <div class="content">
        </div>
    </div>
    <div class="item">
        <div class="content">
        </div>
    </div>
</div>