#catalog {
    width: 150px;
    height: calc(100% - 20px);
    background: var(--background2);
    float: left;
    border-right: var(--border);
}

#operation {
    width: calc(100% - 150px);
    height: 40px;
    float: left;
}

#list {
    width: calc(100% - 150px);
    height: calc(100% - 45px - 20px);
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}