.item {
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
}

.item > .time {
    width: 75%;
    height: 60%;
    margin: 20% 12%;
    text-align: center;
}

.item > .content {
    position: absolute;
    height: 200%;
    border-left: 1px solid #408BFA;
    left: 50%;
}

.item > .content > .pos {
    position: absolute;
}

.item > .content.top {
    top: -200%;
}

.item > .content.top > .pos {
    top: 0;
}

.item > .content.bottom {
    bottom: -200%;
}

.item > .content.bottom > .pos {
    bottom: 0;
}

.item > .content > .pos > .title {
}