.list {
    width: 100%;
    height: 100%;
}

.list > .item {
    float: left;
    padding: 5px;
    padding-top: unset;
    padding-bottom: 10px;
}

.list > .item > .inner {
    width: 100%;
    height: 100%;
    background: var(--background2);
    overflow: hidden;
    position: relative;
}

.list > .item > .inner > .option {
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    display: none;
    font-size: 15px;
}

.list > .item > .inner > .option > .icon {
    color: var(--color);
    background: var(--background2);
    padding: 3px 3px;
    border-radius: 5px;
    cursor: pointer;
}

.list > .item > .inner > .option > .preview:after {
    content: "预览";
    width: 25px;
    bottom: -20px;
}

.list > .item > .inner > .option > .share:after {
    content: "分享";
    width: 25px;
    bottom: -20px;
}

.list > .item > .inner > .option > .download:after {
    content: "下载";
    width: 25px;
    bottom: -20px;
}

.list > .item > .inner > .option > .delete:after {
    content: "删除";
    width: 25px;
    bottom: -20px;
}

.list > .item > .inner > .option > .icon:hover {
    background: var(--background);
}

.list > .item > .inner > .option > .preview:hover,
.list > .item > .inner > .option > .copy:hover {
    color: var(--color1)
}

.list > .item > .inner > .option > .delete:hover {
    color: red;
}

.list > .item > .inner:hover > .option {
    display: block;
}

.list > .item > .inner > .img {
    width: calc(100% - 10px);
    height: calc(100% - 25px);
    margin: 5px auto 0 auto;
    font-size: 40px;
    color: var(--color3);
    background: var(--background4);;
}

.list > .item > .inner > .name {
    width: calc(100% - 10px);
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.list > .item > .inner > .img > .image {
    width: 100%;
    height: 100%;
}

.list > .item > .inner > .img > .progress {
    font-size: 30px;
}

.share-window {
    background: var(--background8);
}

.share-window > .window-container {
    width: 300px;
    height: 120px;
}

.share-window .body {
    padding-top: 10px;
    width: 100%;
    height: 115px;
    text-align: center;
}

.share-window .body > .name {
    width: 210px;
    padding: 0 5px;
}

.share-window .body > .link {
    width: 210px;
    height: 45px;
    font-size: 12px;
    line-height: 14px;
    padding: 0 5px;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: text;
    margin-top: 7px;
}

.share-window .body > .copy {
}