.wrap {
    height: 100%;
    width: 100%;
    border-top: 1px solid #376462;
    border-bottom: 1px solid #376462;
    padding: 5px;
}

.wrap > .inner {
    width: 100%;
    height: 100%;
    border: 1px solid #4f8482;
    background: #0A2C2E;
    font-size: 20px;
    padding:10px;
    color: #64BCBD;
}