.chip {
    width: 100%;
    height: 30px;
}

.chip > .item {
    float: left;
    margin: 0 20px;
    cursor: pointer;
    position: relative;
    outline: none;
    width: 65px;
}

.chip > .item:after {
    content: "|";
    position: absolute;
    right: -20px;
}

.chip > .item:last-child:after {
    content: unset;
}

.chip > .item > .icon,
.chip > .item > .title {
    display: block;
    float: left;
    height: 30px;
}

.chip > .item > .icon {
    font-size: 18px;
    margin-right: 3px;
}

.chip > .item > .wrap {
    position: absolute;
    top: 30px;
    left: -21px;
    z-index: 3;
    display: none;
    border: var(--border);
    border-top: none;
    background: #dfdfdf;
    overflow: hidden;
    /*resize: both;*/
}

.chip > .item:focus > .wrap {
    display: block;
}

.chip > .item > .wrap > .classify {
    width: 105px;
    height: 100%;
    float: left;
    background: var(--background);
    border-right: var(--border);
    /*overflow-y: auto;
    overflow-x: hidden;*/
}

/*
.chip > .item > .wrap > .classify::-webkit-scrollbar {
    display: unset !important;
    width: 5px;
    height: 5px;
    background: none;
}

.chip > .item > .wrap > .classify::-webkit-scrollbar-thumb {
    background: #666;
}
*/

.chip > .item > .wrap > .classify > .sort {
    width: 105px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    border-bottom: var(--border);
}

.chip > .item > .wrap > .classify > .sort.active {
    background: #dfdfdf;
    width: 106px;
    font-weight: bold;
}

.chip > .item > .wrap > .classify > .sort > .icon {
    font-size: 15px;
    margin-right: 5px;
    float: left;
}

.chip > .item > .wrap > .classify > .sort > .name {
    float: left;
    font-size: 11px;
}

.chip > .item > .wrap > .content {
    width: calc(100% - 110px);
    height: calc(100% - 20px);
    float: left;
    overflow-y: auto;
    margin-top: 10px;
}

.chip > .item > .wrap > .content > .ul {
    width: 100%;
    height: 100%;
    display: none;
}

.chip > .item > .wrap > .content > .ul.active {
    display: block;
}

.chip > .item > .wrap > .content > .ul > .li {
    width: 112px;
    height: 85px;
    float: left;
    margin: 0 0 10px 10px;
    border: var(--border);
    background: var(--background);
    cursor: pointer;
}

.chip > .item > .wrap > .content > .ul > .li:hover {
    border-color: #b5b5b5;
    background: #d0d0d0;
}

.chip > .item > .wrap > .content > .ul > .li > .thumbnail {
    width: 102px;
    height: 57px;
    line-height: 50px;
    text-align: center;
    margin: 3px auto 0 auto;
    background: var(--background2);
}

.chip > .item > .wrap > .content > .ul > .li > .thumbnail > .icon {
    margin: 0 5px;
    opacity: 0;
}

.chip > .item > .wrap > .content > .ul > .li > .thumbnail:hover > .icon {
    opacity: 1;
}

.chip > .item > .wrap > .content > .ul > .li > .title {
    width: 100%;
    height: 23px;
    line-height: 25px;
    text-align: center;
    font-size: 11px;
}