.option-item {
    margin-left: 5px;
    float: left;
    margin-top: 9px;
    text-align: center;
    height: 22px;
    line-height: 22px;
}

.option-item.add {
    width: 70px;
    position: relative;
}

.option-item.upload-progress.active,
.option-item.download-progress.active {
    background: var(--color2);
    color: var(--color4);
}

.option-item.add > .upload,
.option-item.add > .upload-client {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.addr {
    background: var(--background2);
    border: var(--border);
    text-align: left;
    margin-top: 9px;
    width: 290px;
    padding: 0 5px;
}

.info {
    float: right;
    width: 275px;
    font-size: 12px;
    text-align: right;
    height: 22px;
    line-height: 22px;
    margin-top: 9px;
    background: var(--color4);
    padding-right: 10px;
}

.info > .client {
    font-size: 12px;
    color: blue;
    text-decoration: underline;
    padding-left: 2px;
    cursor: pointer;
}

.add-folder {
    background: var(--background8);
}

.add-folder > .window-container {
    width: 300px;
    height: 100px;
}

.add-folder .body {
    width: 100%;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

.add-folder .body > .name {
    width: 150px;
    padding: 0 5px;
}

.add-folder .body > .confirm {
    width: 70px;
}

.download-client {
    background: var(--background8);
}

.download-client > .window-container {
    width: 342px;
    height: 130px;
}

.download-client .body {
    width: 100%;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

.download-client .body > .platform {
    width: 100px;
    height: 50px;
    background: var(--background5);
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    float: left;
    margin: 10px 0 0 10px;
}

.download-client .body > .platform:hover {
    background: var(--background8);
}

.download-client .body > .platform > .iconfont {
    font-size: 20px;
    margin-right: 2px;
}

.upload-client-window {
    background: var(--background8);
}

.upload-client-window > .window-container {
    width: 342px;
    height: 130px;
}

.upload-client-window .body {
    width: 100%;
    height: 90px;
    text-align: center;
}

.upload-client-window .body > .type {
    width: 100px;
    height: 100px;
    background: var(--background5);
    cursor: pointer;
    text-align: center;
    float: left;
    margin: 10px 0 0 10px;
    position: relative;
}

.upload-client-window .body > .type:hover {
    background: var(--background8);
}

.upload-client-window .body > .type > .iconfont {
    font-size: 50px;
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin: 0 auto;
}

.upload-client-window .body > .type > .text {
    height: 20px;
    line-height: 20px;
}